<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px
}
  </style>
</head>

<body>
  {%csrf_token%}
  {% load static %}
  <button onclick="rerole()">역할 바꾸기</button>
  <button onclick="signout()">로그아웃</button>
  <div class="container">
    <div class="order-list">
      <h2 id ="list_title">주문 접수 목록</h2>
      <table id="table">
        <!-- 여기에 주문 목록을 표시하는 테이블을 만들어주세요 -->

      </table>
    </div>
<script>
show_uncooked_order()
  function get_parameter(string){
    let url = new URL(window.location.href);
    // URLSearchParams 객체를 사용하여 쿼리 파라미터를 가져옵니다.
    let params = new URLSearchParams(url.search);
    // 특정 파라미터를 가져옵니다.
    let parameterValue = params.get(string);
    // 가져온 파라미터를 출력합니다.
    console.log(parameterValue)
    return parameterValue;
  }

  function cookComplete(orderId) {
    // 서빙완료 버튼을 눌렀을 때 실행될 함수입니다.
    // orderId를 이용하여 서빙완료 작업을 처리합니다.
    // 여기에 필요한 서빙완료 처리 코드를 작성하세요.
    const ajax = fetch("/register_serve_complete", {
      method: "post",
      headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{csrf_token}}",
        },
        body: JSON.stringify({orderID : orderId})
    }).then(function(res){window.alert("처리완료") 
      page_reload()}
    );
    }
  function show_uncooked_order() {
    let title = document.getElementById("list_title")
    title.textContent = "주문 접수 목록"
    let table = document.getElementById("table")
    let code = `<tr>
                <th>주문번호</th>
                <th>음식</th>
                <th>개수</th>
                <th>주문시간</th>
            </tr>`
    const ajax = fetch("/get_not_cook").then((res) => res.json()).then(function (result) {
      console.log(result)
      for (let i = 0; i < result.length; i++) {
        var a = result[i]
          code += `<tr>
                <th>#${a.orderId}</th>
                <th>${a.food}</th>
                <th>${a.nth}번째/${a.count}개 </th>
                <th>${formatTime(a["receptionTime"])}</th>
                <th style = "position:relative; width : 20px">
                  <img onclick="cookOccupy(${a.orderId},${a.nth})"  src='{% static "/image/checked.png" %}' style = " cursor: pointer;width : 25px; height:25px; top:6px;left:5px;position:absolute;">
                <!-- 추가된 부분 -->
                </th>
            </tr>
            `
      console.log(code)
      table.innerHTML = code;
    }})
  }
  function cookOccupy(orderId, nth){
    const ajax = fetch("/cookOccupy", {
      method: "post",
      headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{csrf_token}}",
        },
        body: JSON.stringify({orderID : orderId,nth:nth})
    }).then(function(res){window.alert("처리완료") 
      page_reload()}
    );
    }
  function page_reload(){
    // 현재 URL에서 기본 URL 추출
    let title = document.getElementById("list_title")
    let baseURL = window.location.origin + window.location.pathname;
    if (title.textContent == "주문 완료 목록"){
      //완료 리스트 보여주는 코드
      param = "?list_flag=complete"
    }else if(title.textContent == "주문 접수 목록"){
      //접수 리스트 보여주는 코드
      param = "?list_flag=unserved"
    }
    // 새로운 URL 생성
    let newURL = baseURL + param;

    // 페이지 다시 로드
    window.location.href = newURL;
    }

  function formatTime(dateTimeString) {
  const dateTime = new Date(dateTimeString);
  const hours = dateTime.getHours().toString().padStart(2, '0');
  const minutes = dateTime.getMinutes().toString().padStart(2, '0');
  return `${hours}시 ${minutes}분`;
}
  function signout() {
    const ajax = fetch("/signout").then((res) => page_reload())
  }
  function rerole() {
    console.log("123")
    location.href = "/main?ischange=true"
  }
 
 
</script>

</html>