<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <title>주문 및 테이블 목록</title>
  <style>
    .container {
      display: flex;
      align-items: flex-start;
      /* 테이블 목록이 위로 오도록 설정 */
      height: 100%;
    }

    .order-list {
      flex: 1;
      max-width: 30%;
      margin-right: 20px;
      padding: 10px;
      border: 1px solid #ccc;
      background-color: #f9f9f9;
    overflow-y: auto;
      height: 90vh;
      
      /* 높이를 조정할 부분입니다. */
    }

    .table-container {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-gap: 10px;
      width: 95%;
      min-height: 39vh;
    }

    .table {
      width: 90%;
      /* 테이블 가로 크기 조정 */
      height: 85%;
      /* 테이블 세로 크기 조정 */
      background-color: #ccc;
      border: 1px solid #888;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .table2 {
      width: 200%;
      /* 테이블 가로 크기 조정 */
      height: 85%;
      /* 테이블 세로 크기 조정 */
      background-color: #ccc;
      border: 1px solid #888;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .table3 {
      width: 90%;
      /* 테이블 가로 크기 조정 */
      height: 85%;
      /* 테이블 세로 크기 조정 */
      background-color: #ccc;
      border: 1px solid #888;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .rectangle-container {
      display: flex;
      flex-direction: column;
      /* 수직으로 정렬 */
      align-items: center;
      /* 가운데 정렬 */
      width: 73%;
      height: 100%;
    }

    .rectangle {
      width: 95%;
      /* 테이블 컨테이너의 가로 길이와 동일하게 조정 */
      height: 45px;
      /* 높이 조정 */
      background-color: #ccc;
      margin: 10px 0;
      /* 위아래 여백 조정 */
    }

    .reception_title {
      width: 95%;
      /* 테이블 컨테이너의 가로 길이와 동일하게 조정 */
      height: 40px;
      /* 높이 조정 */
      background-color: #f0e440;
      margin-top: 10px;
      /* 위아래 여백 조정 */
    }

    .reception {
      width: 95%;
      /* 테이블 컨테이너의 가로 길이와 동일하게 조정 */
      height: 26vh;
      /* 높이 조정 */
      background-color: #eee9a2;
      /* 위아래 여백 조정 */
      padding-left: 20px;
      overflow-y: auto;

    }table {
    border-collapse: collapse;
    width: 100%;

}

th, td {
    border: 1px solid #ccc;
    padding: 3px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 8px;
}
  </style>
</head>

<body>
  {%csrf_token%}
  <button onclick="rerole()">역할 바꾸기</button>
  <button onclick="signout()">로그아웃</button>
  <div class="container">
    <div class="order-list">
      <h2 id ="list_title">주문 접수 목록</h2>
      <button id ="list_change_btn" onclick = "list_change_btn_click()">서빙 완료 리스트 보기</button>
      <table id="table">
        <!-- 여기에 주문 목록을 표시하는 테이블을 만들어주세요 -->

      </table>
    </div>

    <div class="rectangle-container">
      <div class="rectangle"></div>

      <div class="table-container">
        <!-- 테이블 목록을 표시하는 부분입니다. -->
        <!-- 예시로 2행 8열의 테이블을 만듭니다. -->
        <!-- 각 테이블에는 순차적으로 번호를 부여합니다. -->
        {% for i in "abcdefghij" %}
        <div class="table" id="{{forloop.counter}}" onclick="table_clicked({{ forloop.counter }})">테이블 {{forloop.counter}}
        </div>
        {% endfor %}
        <div class="table2" id="11" style="z-index: 1;" onclick="table_clicked(11)">테이블 11</div>
        <div class="table3"></div>
        <div class="table2" id="12" style="z-index: 1;" onclick="table_clicked(12)">테이블 12</div>
        <div class="table3"></div>
        <div class="table" id="13" onclick="table_clicked(13)">테이블 13</div>
        <div class="table" id="14" onclick="table_clicked(14)">테이블 14</div>
      </div>

      <div class="rectangle" style="margin-top: -20px;">운동장</div>
      <div class="reception_title">
        주문 접수하기
        <button onclick="recept()">주문 추가</button>
      </div>
      <div style="display: flex;flex-direction: row; width:95%;">
        <div class="reception" style="display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
        width: 50%;
        min-height: 30vh;
        padding-top: 10px;
        padding-bottom: 10px">
          <button onclick="addOrder('오뎅탕')">오뎅탕</button>
          <button onclick="addOrder('떡볶이')">떡볶이</button>
          <button onclick="addOrder('모듬튀김')">모듬튀김</button>
          <button onclick="addOrder('가라아게&감자튀김')" style="font-size: 10px" ;>가라아게&감자튀김</button>
          <button onclick="addOrder('순대')">순대</button>
          <button onclick="addOrder('콘치즈')">콘치즈</button>
          <button onclick="addOrder('황도')">황도</button>
          <button onclick="addOrder('콜라')">콜라</button>
          <button onclick="addOrder('사이다')">사이다</button>
          <button onclick="addOrder('생수')">생수</button>
          <button onclick="addOrder('#기타')">기타</button>
        </div>
        <div class="reception" id="reception_select_box" style="min-height: 30vh;    padding-top: 10px;
        padding-bottom: 10px">
        </div>
      </div>
    </div>
  </div>
</body>
<script>

  let selected_table_no = "";
  function get_parameter(string){
    let url = new URL(window.location.href);
    // URLSearchParams 객체를 사용하여 쿼리 파라미터를 가져옵니다.
    let params = new URLSearchParams(url.search);
    // 특정 파라미터를 가져옵니다.
    let parameterValue = params.get(string);
    // 가져온 파라미터를 출력합니다.
    console.log(parameterValue)
    return parameterValue;
  }

  if (get_parameter("list_flag") == "complete"){
    
    show_complete_order()
    let title = document.getElementById("list_title")
    title.textContent = "주문 완료 목록"
    console.log(title)
  }else{
    show_unserved_order();
  }

  function table_clicked(tableNumber) {
    if (selected_table_no == "") {
      selected_table_no = tableNumber;
      let focus = document.getElementById(selected_table_no.toString());
      focus.style.backgroundColor = "red";
      control_reception_box("show")
    } else if (selected_table_no != "") {
      if (selected_table_no != tableNumber) {
        document.getElementById(selected_table_no.toString()).style.backgroundColor = "#ccc";
        selected_table_no = tableNumber;
        let focus = document.getElementById(selected_table_no.toString());

        document.getElementById(tableNumber.toString()).style.backgroundColor = "red";
        control_reception_box("show")
      } else {
        selected_table_no = "";
        document.getElementById(tableNumber.toString()).style.backgroundColor = "#ccc";
        control_reception_box("hide")
      }
    }
  }
  let reception_box = document.getElementById("reception_select_box")
  function addTableRow(menu) {

    let newRow = document.createElement('tr');

    // 음식메뉴 입력란
    let foodCell = document.createElement('td');
    foodCell.innerHTML = `<input type="text" class="food-input" style = "width: 160px" value = ${menu}>`;
    newRow.appendChild(foodCell);
    // 개수 선택 입력란
    let countCell = document.createElement('td');
    countCell.innerHTML = '<input type="number" class="count-input" min="1" style = "width:70px" value = "1">';
    newRow.appendChild(countCell);

    // 디테일 입력란
    let detailCell = document.createElement('td');
    detailCell.innerHTML = '<input type="text" class="detail-input">';
    newRow.appendChild(detailCell);
// 디테일 입력란
    let isServiceCell = document.createElement('td');
    isServiceCell.innerHTML = '<input type="checkbox" class="detail-input">';
    newRow.appendChild(isServiceCell);

    // 삭제 버튼
    let deleteCell = document.createElement('td');
    deleteCell.innerHTML = '<button onclick="deleteTableRow(this)">삭제</button>';
    newRow.appendChild(deleteCell);

    document.getElementById('order-table').appendChild(newRow);
  }

  function deleteTableRow(button) {
    let row = button.parentNode.parentNode;
    row.parentNode.removeChild(row);
  }
  function control_reception_box(show_or_hide) {
    if (show_or_hide == "hide") {
      reception_box.innerHTML = "";
    } else if (show_or_hide == "show") {
      console.log(reception_box)
      reception_box.innerHTML = `
      <div>
        <table id="order-table">
          <tr>
            <th>메뉴</th>
            <th>개수</th>
            <th>디테일</th>
            <th>서비스</th>
            <th>삭제</th>
          </tr>
        </table>
      </div>
    `;
      addTableRow("-");
    }
  }
  function show_unserved_order() {
    let title = document.getElementById("list_title")
    title.textContent = "주문 접수 목록"
    let table = document.getElementById("table")
    let code = `<tr>
                <th>주문번호</th>
                <th>테이블번호</th>
                <th>음식</th>
                <th>개수</th>
                <th>주문시간</th>
            </tr>`
    const ajax = fetch("/get_not_served").then((res) => res.json()).then(function (result) {
      console.log(result)
      for (let i = 0; i < result.length; i++) {
        var a = result[i]
        code += `<tr>
              <th>#${a.id}-${a.nth}</th>
              <th>${a["tableNumber"]}번</th>
              <th>${a["food"]}</th>
              <th>1개</th>
              <th>${formatTime(a["receptionTime"])}</th>
              <th style = "position:relative; width :40px">
                <img onclick="serveComplete(${a.id},${a.nth})"  src='{% static "/image/checked.png" %}' style = " cursor: pointer;width : 20px; height:20px; top:0px;left:2px;position:absolute;">
                <img onclick="deleteReception(${a.id})" src='{% static "/image/bin.png" %}' style = " cursor: pointer;width : 20px; height:20px;top:0px; right:2px;position:absolute;">
              <!-- 추가된 부분 -->
              </th>
          </tr>
          `
      }
      console.log(code)
      table.innerHTML = code;
    })
  }
  function deleteReception(orderId){
    var result = window.confirm("##주의##\n정말 삭제하시겠습니까?\n삭제하게 되면 이미 해당 음식을 조리중인 사람에게 취소사실을 알려야합니다.") 
    if (result == true){
    const ajax = fetch("/deleteReception", {
      method: "post",
      headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{csrf_token}}",
        },
        body: JSON.stringify({orderID : orderId})
    }).then(function(res){
      window.confirm("삭제되었습니다\n반드시 취소한 주문번호를 해당 음식 조리 작업자에 알리시기 바랍니다") 
      page_reload()}
    );
    }
    else{
      window.alert("삭제요청을 취소하셨습니다")
    }}
  function reception_withdraw(orderId,nth){
        // 철회 버튼을 눌렀을 때 실행될 함수입니다.
    // orderId를 이용하여 서빙완료 작업을 처리합니다.
    const ajax = fetch("/reception_withdraw", {
      method: "post",
      headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{csrf_token}}",
        },
        body: JSON.stringify({orderID : orderId,nth:nth})
    }).then(function(res){
      window.alert("철회완료") 
      page_reload()}
    );
    }
  function show_complete_order() {
    let title = document.getElementById("list_title")
    console.log(title)
    title.textContent = "주문 완료 목록"
    let table = document.getElementById("table")
    let code = `<tr>
                <th>주문번호</th>
                <th>테이블번호</th>
                <th>음식</th>
                <th>개수</th>
                <th>주문시간</th>
            </tr>`
    const ajax = fetch("/get_served").then((res) => res.json()).then(function (result) {
      console.log(result)
      for (let i = 0; i < result.length; i++) {
        var a = result[i]
        code += `<tr>
              <th>#${a.id}-${a.nth}</th>
              <th>${a["tableNumber"]}번</th>
              <th>${a["food"]}</th>
              <th>1개</th>
              <th>${formatTime(a["receptionTime"])}</th>
              <th><button onclick="reception_withdraw(${a.id},${a.nth})" style = "font-size:10px; width : 40px">완료 철회하기</button></th> <!-- 추가된 부분 -->
          </tr>
          `
      }
      console.log(code)
      table.innerHTML = code;
    })
  }
  function list_change_btn_click(){
    let title = document.getElementById("list_title")
    let list = document.getElementById("list_change_btn")
    console.log(title.textContent)
    if (title.textContent == "주문 완료 목록"){
      //완료 리스트 보여주는 코드
      show_unserved_order()
    }else if(title.textContent == "주문 접수 목록"){
      //접수 리스트 보여주는 코드
      show_complete_order()
    }
  }
  function page_reload(){
    // 현재 URL에서 기본 URL 추출
    let title = document.getElementById("list_title")
    let baseURL = window.location.origin + window.location.pathname;
    if (title.textContent == "주문 완료 목록"){
      //완료 리스트 보여주는 코드
      param = "?list_flag=complete"
    }else if(title.textContent == "주문 접수 목록"){
      //접수 리스트 보여주는 코드
      param = "?list_flag=unserved"
    }
    // 새로운 URL 생성
    let newURL = baseURL + param;

    // 페이지 다시 로드
    window.location.href = newURL;
    }
  function serveComplete(orderId,nth) {
    // 서빙완료 버튼을 눌렀을 때 실행될 함수입니다.
    // orderId를 이용하여 서빙완료 작업을 처리합니다.
    // 여기에 필요한 서빙완료 처리 코드를 작성하세요.
    const ajax = fetch("/register_serve_complete", {
      method: "post",
      headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{csrf_token}}",
        },
        body: JSON.stringify({orderID : orderId,nth:nth})
    }).then(function(res){window.alert("처리완료") 
      page_reload()}
    );
    }
  function formatTime(dateTimeString) {
  const dateTime = new Date(dateTimeString);
  const hours = dateTime.getHours().toString().padStart(2, '0');
  const minutes = dateTime.getMinutes().toString().padStart(2, '0');
  console.log(hours, minutes)
  return `${hours}시 ${minutes}분`;
}
  function signout() {
    const ajax = fetch("/signout").then((res) => page_reload())
  }
  function rerole() {
    console.log("123")
    location.href = "/main?ischange=true"
  }
  function addOrder(menu) {
    let table = document.getElementById("order-table")
    if (table != null) {
      let childElements = table.children;
      // <tr> 태그만 선택하기
      let trElements = Array.from(childElements).filter(element => element.tagName === 'TR');
      let tr_index = null;
      let count = 0;
      if (trElements.length==1 && trElements[0].children[0].querySelector('input').value == "-"){
        let inputElement = trElements[0].children[0].querySelector("input")
        inputElement.value = menu;
      }else {
        trElements.forEach(function (tr) {
          count += 1;
          if (menu == tr.children[0].children[0].value) {
            console.log("123")
            tr_index = count;
          }
        }
        )
        if (tr_index == null) {
          addTableRow(menu);
        } else {
          let inputElement = trElements[tr_index - 1].children[1].querySelector('input');
          inputElement.value = parseInt(inputElement.value) + 1;
        }
      }
    }
  }
  function recept(){
    console.log(document.getElementById("order-table"))
    table = document.getElementById("order-table")
    let childElements = table.children;
    let trElements = Array.from(childElements).filter(element => element.tagName === 'TR');
    let orderArray = [];

    trElements.forEach(function(tr) {
        let food = tr.children[0].children[0].value;
        let count = tr.children[1].children[0].value;
        let description = tr.children[2].children[0].value;
        let isService = tr.children[3].children[0].value;
        let orderInfo = {
            food: food,
            count: count,
            detail: description,
            tableNo: selected_table_no,
            isService : isService
        };

        orderArray.push(orderInfo);
    });
    console.log(orderArray)
    const ajax = fetch("/register_order", {
        method: "post",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{csrf_token}}",
        },
        body: JSON.stringify(orderArray)
    }).then(function(res){window.alert("처리완료") 
      page_reload()}
    );
  }
</script>

</html>